@model IEnumerable<SakilaApp.Models.Film>
@{
    ViewData["Title"] = "Reto 2 - 10 Películas Más Largas";
}

<h1>Reto 2: Mostrar las 10 películas más largas</h1>
<a asp-action="Index" class="btn btn-secondary mb-3">Volver al Inicio</a>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Título</th>
            <th>Duración (min)</th>
            <th>Año de Lanzamiento</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Title</td>
            <td>@item.Length</td>
            <td>@item.ReleaseYear</td>
        </tr>
    }
    </tbody>
</table>
